@import"reset.css";
    @import"jquery.fancybox-1.3.4.css";
    @import"grid.css";
    article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}
mark, rp, rt, ruby, summary, time {
    display: inline;
}
body {
    position: absolute;
    font: 12px/18px Georgia, serif;
    color: #7a7a7a;
    min-height: 1000px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    min-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
	background:#000000;
}
body p a {
    text-decoration: none;
}
body p a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
h1 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 426px;
    background: url(logo_glow.png) center no-repeat;
}
h1>a {
    position: relative;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 198px;
    height: 145px;
    background: url(../image/logo3.png) left 20px no-repeat;
    margin: 6px 0 0 18px;
}
h2 {
    font: 27px/1.2em Georgia, serif;
    color: #fff;
    padding-bottom: 19px;
}
span.h2 {
    font: 27px/1.2em Georgia, serif;
    color: #fff;
    padding-bottom: 19px;
}
h3 {
    font: 16px/1.2em Georgia, serif;
    color: #b7aa8f;
    font-style: italic;
    padding-bottom: 12px;
}
p.h3 {
    font: 16px/1.2em Georgia, serif;
    color: #b7aa8f;
    font-style: italic;
    padding-bottom: 12px;
}
h4 {
    font: 14px/1.2em Georgia, serif;
    color: #d0c6aa;
    padding-bottom: 20px;
}
p {
    padding-bottom: 18px;
}
figure {
    display: inline-block;
    border: 7px solid #333;
}
#glob {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(loading.gif) 50% 50% no-repeat #161616;
}
.spinner_bg {
    background-position: right top;
}
#bgStretch {
    z-index: 1;
}
#bgStretch>img {
    background: #1c1c1c;
}
#bgControls {
    position: fixed;
    bottom: 31px;
    left: 630px;
	z-index:499;
}
#bgControls>a {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 4px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    background: url(btn_bg.png) center top no-repeat;
}
.prev>span, .next>span, .pause>span {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
.prev>span {
    background: url(arrowL.png) left center no-repeat;
}
.next>span {
    background: url(arrowR.png) right center no-repeat;
}
.pause>span {
    background: url(pause_icon.png) 1px bottom no-repeat;
}
.pause.play>span {
    background: url(http://spicy-massage.com/images/play_icon.png) 1px bottom no-repeat;
}
#leftPanel {
    position: absolute;
    display: inline-block;
    width: 222px;
    height: 100%;
    background: url(panel_bg.png) repeat-y;
}
header {
    position: relative;
    top: 0;
    height: 155px;
    z-index: 100;
}
footer {
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0;
    height: 115px;
}
footer p {
    position: relative;
    font: 12px/1.2em Arial, sans-serif;
    color: #747474;
    white-space: pre;
    text-align: center;
    padding-top: 18px;
}
footer p a {
    color: #747474;
}
.menu {
    position: relative;
    display: inline-block;
    z-index: 150;
}
#menu>li {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 22px;
}
#menu>li.no_bg {
    background: none;
}
#menu>li>a {
    position: relative;
    display: inline-block;
    font: 18px/1.2em Georgia, serif;
    color: #b7aa8f;
    padding: 8px 0;
}
#menu>li>strong {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(menu_bg.png) center no-repeat;
    opacity: 0;
}
.submenu_1, .submenu_2 {
    position: absolute;
    z-index: 9100;
    width: 160px;
    left: 162px;
    top: 15px;
    display: none;
}
.submenu_1 li {
    position: relative;
    display: block;
    height: 40px;
    background: url(http://spicy-massage.com/images/submenu_1_bg2.png) left center no-repeat;
}
.submenu_1 li:first-child {
    background: url(http://spicy-massage.com/images/submenu_1_bg1.png) left center no-repeat;
}
.submenu_1 li.last {
    background: url(http://spicy-massage.com/images/submenu_1_bg3.png) left center no-repeat;
}
.submenu_1 a {
    position: relative;
    display: inline-block;
    font: 16px/1.2em Georgia, serif;
    color: #b2b3b3;
    margin: 10px 0 11px 4px;
}
.submenu_1 li>a:hover, .submenu_1 li.sfHover>a {
    color: #fff;
}
.submenu_2 {
    position: absolute;
    z-index: 9100;
    width: 143px;
    left: 164px;
    top: 2px;
    background: url(http://spicy-massage.com/images/submenu_2_bg.png);
    box-shadow: 0 0 1px rgba(255, 255, 255, .32);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .32);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .32);
}
.submenu_2 li:first-child, .submenu_2 li {
    background: url(http://spicy-massage.com/images/submenu_2_divider.png) left bottom no-repeat;
    height: 39px;
}
.submenu_2 li.last {
    background: none;
}
.submenu_2 a {
    margin-left: 0;
    color: #b5b5b5;
}
#content {
    position: absolute;
    width: 683px;
    height: 100%;
    margin-left: 222px;
    z-index: 50;
    overflow: hidden;
}
#content>ul {
    width: 100%;
    height: 100%;
    background: url(content_bg.png) repeat-y;
}
#content>ul>li.no_disp {
    display: none;
    width: 0;
    height: 0;
}
#content>ul>li {
    position: absolute;
    width: 100%;
    background: none;
    overflow: hidden;
}
.decor {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 37px;
    background: url(decor.png) center 0 no-repeat;
    margin-bottom: 24px;
}
.readMore {
    display: inline-block;
    position: relative;
    font: 12px/1.2em Arial, sans-serif;
    color: #d0cbbe;
    text-transform: uppercase;
    padding: 8px 19px 7px;
    background: url(more_bg.jpg);
    margin-top: 18px;
    text-shadow: #323130 5px 5px 5px;
}
.readMore:hover {
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
hr, hr.line2 {
    width: 100%;
    height: 1px;
    background: url(hline1.png) no-repeat;
    margin-bottom: 19px;
}
hr.line2 {
    background: url(hline2.png) no-repeat;
}
.list1 {
    display: inline-block;
    margin-top: 9px;
}
.list1>li {
    width: 277px;
    margin-top: -2px;
}
.list1>li:first-child {
    margin-top: 0;
}
.list1>li>figure {
    float: left;
    margin-right: 15px;
}
.list1>li>div>h4 {
    padding-top: 5px;
}
.list1>li>div>p {
    color: #fff;
    padding-bottom: 17px;
}
.list1>li>p>a {
    text-decoration: underline;
    text-transform: lowercase;
    color: #95948f;
}
.list1>li>p>a:hover {
    text-decoration: none;
}
.list2>li:first-child {
    margin-top: 0;
}
.list2>li {
    background: url(http://spicy-massage.com/images/list_icon.png) 1px 7px no-repeat;
    margin-top: 12px;
}
.list2>li.hover {
    background: url(http://spicy-massage.com/images/list_icon_over.png) 1px 7px no-repeat;
}
.list2>li>a {
    font-size: 16px;
    font-style: italic;
    color: #b7aa8f;
    margin-left: 15px;
}
.list3 {
    margin-top: -7px;
}
.list3>li {
    display: inline-block;
    position: relative;
    width: 282px;
    margin: 0 42px 13px 0;
}
.list3>li.right {
    margin-right: 0;
}
.list3>li>img {
    float: left;
    margin: 0 15px 0 -3px;
}
.list3>li>h3 {
    margin-top: 4px;
    overflow: hidden;
    line-height: 18px;
    padding-right: 10px;
}
.list4>li {
    display: inline-block;
    margin: 0 17px 20px 0;
}
.list4>li.last {
    margin-bottom: 0;
}
.list4>li>figure>a {
    position: relative;
    display: block;
    width: 206px;
    height: 150px;
}
.list5 {
    display: inline-block;
}
.list5>li {
    width: 100%;
    margin-top: 1px;
}
.list5>li:first-child {
    margin-top: 0;
}
.list5>li>h4 {
    padding-top: 2px;
}
.list5>li>p {
    color: #fff;
    padding-bottom: 11px;
}
.list5>li>p>a {
    text-decoration: underline;
    text-transform: lowercase;
    color: #95948f;
}
.list5>li>p>a:hover {
    text-decoration: none;
}
.list6 {
    margin-top: 2px;
}
.list6>li {
    display: inline-block;
    margin-bottom: 20px;
}
.list6>li.last {
    margin-bottom: 0;
}
.list6>li>figure>a {
    position: relative;
    display: block;
    width: 205px;
    height: 130px;
}
.list7 {
    margin-top: -2px;
}
.list7>li {
    margin-bottom: 6px;
}
.list7>li>figure {
    float: left;
    margin: 2px 20px 0 0;
}
.list7>li>h3 {
    padding-right: 50px;
}
.scroll {
    float: left;
}
.outside .scroll {
    width: 480px;
    height: 723px;
}
.outside ._track, .outside2 ._track {
    width: 19px;
    height: 644px;
    left: 571px;
    top: 73px;
    padding: 31px 0;
}
._track {
    background: url(http://spicy-massage.com/images/scroll_bg.png) center 0 no-repeat;
}
._shuttle {
    cursor: pointer !important;
    width: 19px;
    height: 59px;
    background: url(http://spicy-massage.com/images/scroll_btn.png) center top no-repeat;
}
._shuttle:hover {
    background-position: center bottom;
}
.outside2 .scroll {
    width: 240px;
    height: 312px;
    margin-bottom: 7px;
}
.outside2 ._track {
    height: 254px;
    left: 251px;
    top: 73px;
    background: url(http://spicy-massage.com/images/scroll_bg2.png) center 0 no-repeat;
}
.sitem_over {
    position: absolute;
    background: url(http://spicy-massage.com/images/pic_bg_over.png);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}
.sitem_over>strong {
    position: relative;
    background: url(http://spicy-massage.com/images/icon_zoom.png) center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
}
.pad1 {
    padding: 44px 0 0 0;
}
.pad2 {
    padding-left: 10px;
	padding-right:10px;
}
.pad3 {
    padding: 0 20px 0 1px;
}
.pad4 {
    padding-bottom: 2px;
}
.pad5 {
    padding-bottom: 11px;
}
.pad6 {
    padding-top: 41px;
}
.pad7 {
    padding: 0 60px 0 10px;
}
.pad8 {
    padding-right: 5px;
}
.mar1 {
    margin: 6px 0 62px;
}
.mar2 {
    margin-bottom: 39px;
}
.fontStyle1 {
    font-size: 16px;
    color: #b7aa8f;
}
.wrapper {
    width: 100%;
    overflow: hidden;
}
.clear {
    clear: both;
    line-height: 0;
}
.google_map {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    width: 532px;
    height: 307px;
    border: none;
    box-shadow: none;
    background-color: #1c1c1c;
    background-image: url(http://spicy-massage.com/images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0;
}
#form1 {
    position: relative;
    height: 380px;
    margin-top: -2px;
}
#form1 input, #form1 textarea {
    position: relative;
    background: #2a2a2a;
    border: none;
    color: #b7aa8f;
    padding: 5px 5px 7px;
    width: 209px;
    outline: none;
    box-shadow: none;
    display: inline-block;
    font-style: italic;
}
#form1 textarea {
    width: 443px;
    height: 180px;
    overflow: auto;
    resize: none;
}
#form1 label {
    display: inline-block;
    min-height: 50px;
    position: relative;
    width: 540px;
}
#form1 .title {
    display: inline-block;
    width: 83px;
    font: 16px/1.2em Georgia, serif;
    font-style: italic;
    color: #b7aa8f;
}
#form1 .success {
    position: relative;
    padding-bottom: 3px;
    color: #fff;
}
#form1 .error, #form1 .empty {
    text-align: left;
    display: none;
    font-size: 10px;
    color: #fff;
    margin-left: 89px;
    top: -4px;
    position: relative;
}
fieldset {
    height: 210px;
}
.btns {
    padding: 12px 70px 0;
    position: relative;
    float: right;
}
.btns a {
    display: inline-block;
    margin-left: 11px;
}
input, select, textarea {
    font: normal 16px/1.2em Georgia, serif;
    vertical-align: middle;
}
a.sb, .sb a {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -900em;
    color: #333;
    text-decoration: none;
    line-height: 100%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 2px 5px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
:first-child+html a.sb, :first-child+html .sb a {
    text-indent: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}
.sb {
    margin: 0;
    padding: 0;
}
.sb li {
    margin: 0;
    padding: 0;
    display: inline;
}
a.sb.small, .sb.small a {
    width: 26px;
    height: 26px;
    font-size: 90%}
a.sb.large, .sb.large a {
    width: 40px;
    height: 40px;
    font-size: 120%}
a.sb.gradient, .sb.gradient a {
    background-color: transparent !important;
}
a.sb.gradient:after, .sb.gradient a:after {
    padding: 1px;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
}
a.sb.gradient.blue:after, .sb.gradient.blue a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzODRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzU2OWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(83, 132, 237, 1) 0%, rgba(44, 86, 159, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(83, 132, 237, 1) 0%, rgba(44, 86, 159, 1) 100%);
    background-image: linear-gradient(top, rgba(83, 132, 237, 1) 0%, rgba(44, 86, 159, 1) 100%);
}
a.sb.gradient.purple:after, .sb.gradient.purple a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmNzdmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTE4ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(127, 119, 252, 1) 0%, rgba(78, 24, 219, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(127, 119, 252, 1) 0%, rgba(78, 24, 219, 1) 100%);
    background-image: linear-gradient(top, rgba(127, 119, 252, 1) 0%, rgba(78, 24, 219, 1) 100%);
}
a.sb.gradient.red:after, .sb.gradient.red a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5NzQ1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzIzMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(249, 116, 88, 1) 0%, rgba(215, 35, 18, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(249, 116, 88, 1) 0%, rgba(215, 35, 18, 1) 100%);
    background-image: linear-gradient(top, rgba(249, 116, 88, 1) 0%, rgba(215, 35, 18, 1) 100%);
}
a.sb.gradient.green:after, .sb.gradient.green a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxYjkxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTc5MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
    background-image: linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxYjkxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTc5MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
    background-image: linear-gradient(top, rgba(81, 185, 18, 1) 0%, rgba(49, 121, 9, 1) 100%);
}
a.sb.gradient.orange:after, .sb.gradient.orange a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjZmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(255, 165, 0, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 165, 0, 1) 0%, rgba(255, 111, 0, 1) 100%);
    background-image: linear-gradient(top, rgba(255, 165, 0, 1) 0%, rgba(255, 111, 0, 1) 100%);
}
a.sb.gradient.brown:after, .sb.gradient.brown a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NjMwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjNiMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(197, 99, 5, 1) 0%, rgba(123, 59, 2, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(197, 99, 5, 1) 0%, rgba(123, 59, 2, 1) 100%);
    background-image: linear-gradient(top, rgba(197, 99, 5, 1) 0%, rgba(123, 59, 2, 1) 100%);
}
a.sb.gradient.black:after, .sb.gradient.black a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzAzMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(86, 86, 86, 1) 0%, rgba(3, 3, 3, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(86, 86, 86, 1) 0%, rgba(3, 3, 3, 1) 100%);
    background-image: linear-gradient(top, rgba(86, 86, 86, 1) 0%, rgba(3, 3, 3, 1) 100%);
}
a.sb.gradient.gray:after, .sb.gradient.gray a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjUyNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(172, 171, 171, 1) 0%, rgba(82, 82, 82, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(172, 171, 171, 1) 0%, rgba(82, 82, 82, 1) 100%);
    background-image: linear-gradient(top, rgba(172, 171, 171, 1) 0%, rgba(82, 82, 82, 1) 100%);
}
a.sb.gradient.light-gray:after, .sb.gradient.light-gray a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZDlkOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(157, 157, 157, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(157, 157, 157, 1) 100%);
    background-image: linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(157, 157, 157, 1) 100%);
}
a.sb.gradient.light-blue:after, .sb.gradient.light-blue a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxZTVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmMyZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(209, 229, 254, 1) 0%, rgba(150, 194, 250, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(209, 229, 254, 1) 0%, rgba(150, 194, 250, 1) 100%);
    background-image: linear-gradient(top, rgba(209, 229, 254, 1) 0%, rgba(150, 194, 250, 1) 100%);
}
a.sb.gradient.light-purple:after, .sb.gradient.light-purple a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlYzlmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODllZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(206, 201, 254, 1) 0%, rgba(168, 158, 252, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(206, 201, 254, 1) 0%, rgba(168, 158, 252, 1) 100%);
    background-image: linear-gradient(top, rgba(206, 201, 254, 1) 0%, rgba(168, 158, 252, 1) 100%);
}
a.sb.gradient.pink:after, .sb.gradient.pink a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDNmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTkzY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(253, 211, 240, 1) 0%, rgba(254, 147, 203, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(253, 211, 240, 1) 0%, rgba(254, 147, 203, 1) 100%);
    background-image: linear-gradient(top, rgba(253, 211, 240, 1) 0%, rgba(254, 147, 203, 1) 100%);
}
a.sb.gradient.light-green:after, .sb.gradient.light-green a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzZWYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZGM4MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(179, 239, 22, 1) 0%, rgba(141, 200, 14, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(179, 239, 22, 1) 0%, rgba(141, 200, 14, 1) 100%);
    background-image: linear-gradient(top, rgba(179, 239, 22, 1) 0%, rgba(141, 200, 14, 1) 100%);
}
a.sb.gradient.yellow:after, .sb.gradient.yellow a:after {
    background-image: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZjZiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRlMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(253, 246, 177, 1) 0%, rgba(255, 222, 7, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(253, 246, 177, 1) 0%, rgba(255, 222, 7, 1) 100%);
    background-image: linear-gradient(top, rgba(253, 246, 177, 1) 0%, rgba(255, 222, 7, 1) 100%);
}
a.sb:hover:after, .sb a:hover:after {
    background-image: none;
}
a.sb:hover, .sb a:hover, a.sb:hover:after, .sb a:hover:after {
    background-color: #f3f3f3;
}
a.sb.blue, .sb.blue a, a.sb.blue:after, .sb.blue a:after {
    background-color: #4d7de1;
    border-color: #294c89;
    color: #fff;
}
a.sb.blue:hover:after, .sb.blue a:hover:after {
    background-image: none;
}
a.sb.blue:hover, .sb.blue a:hover, a.sb.blue:hover:after, .sb.blue a:hover:after {
    background-color: #5384ed;
}
a.sb.purple, .sb.purple a, a.sb.purple:after, .sb.purple a:after {
    background-color: #7a6bf8;
    border-color: #321396;
    color: #fff;
}
a.sb.purple:hover:after, .sb.purple a:hover:after {
    background-image: none;
}
a.sb.purple:hover, .sb.purple a:hover, a.sb.purple:hover:after, .sb.purple a:hover:after {
    background-color: #7f77fc;
}
a.sb.red, .sb.red a, a.sb.red:after, .sb.red a:after {
    background-color: #e8311f;
    border-color: #9d1d14;
    color: #fff;
}
a.sb.red:hover:after, .sb.red a:hover:after {
    background-image: none;
}
a.sb.red:hover, .sb.red a:hover, a.sb.red:hover:after, .sb.red a:hover:after {
    background-color: #e84b34;
}
a.sb.green, .sb.green a, a.sb.green:after, .sb.green a:after {
    background-color: #4aab10;
    border-color: #1e5608;
    color: #fff;
}
a.sb.green:hover:after, .sb.green a:hover:after {
    background-image: none;
}
a.sb.green:hover, .sb.green a:hover, a.sb.green:hover:after, .sb.green a:hover:after {
    background-color: #51b912;
}
a.sb.orange, .sb.orange a, a.sb.orange:after, .sb.orange a:after {
    background-color: #ff9600;
    border-color: #c35505;
    color: #fff;
}
a.sb.orange:hover:after, .sb.orange a:hover:after {
    background-image: none;
}
a.sb.orange:hover, .sb.orange a:hover, a.sb.orange:hover:after, .sb.orange a:hover:after {
    background-color: #ffa500;
}
a.sb.brown, .sb.brown a, a.sb.brown:after, .sb.brown a:after {
    background-color: #a35004;
    border-color: #622d07;
    color: #fff;
}
a.sb.brown:hover:after, .sb.brown a:hover:after {
    background-image: none;
}
a.sb.brown:hover, .sb.brown a:hover, a.sb.brown:hover:after, .sb.brown a:hover:after {
    background-color: #c56305;
}
a.sb.black, .sb.black a, a.sb.black:after, .sb.black a:after {
    background-color: #252525;
    border-color: #000;
    color: #fff;
}
a.sb.black:hover:after, .sb.black a:hover:after {
    background-image: none;
}
a.sb.black:hover, .sb.black a:hover, a.sb.black:hover:after, .sb.black a:hover:after {
    background-color: #565656;
}
a.sb.gray, .sb.gray a, a.sb.gray:after, .sb.gray a:after {
    background-color: #989797;
    border-color: #3f3f3f;
    color: #fff;
}
a.sb.gray:hover:after, .sb.gray a:hover:after {
    background-image: none;
}
a.sb.gray:hover, .sb.gray a:hover, a.sb.gray:hover:after, .sb.gray a:hover:after {
    background-color: #acabab;
}
a.sb.light-gray, .sb.light-gray a, a.sb.light-gray:after, .sb.light-gray a:after {
    background-color: #c7c7c7;
    border-color: #7b7b7b;
}
a.sb.light-gray:hover:after, .sb.light-gray a:hover:after {
    background-image: none;
}
a.sb.light-gray:hover, .sb.light-gray a:hover, a.sb.light-gray:hover:after, .sb.light-gray a:hover:after {
    background-color: #d9d9d9;
}
a.sb.light-blue, .sb.light-blue a, a.sb.light-blue:after, .sb.light-blue a:after {
    background-color: #bdd9fd;
    border-color: #6694d6;
}
a.sb.light-blue:hover:after, .sb.light-blue a:hover:after {
    background-image: none;
}
a.sb.light-blue:hover, .sb.light-blue a:hover, a.sb.light-blue:hover:after, .sb.light-blue a:hover:after {
    background-color: #d1e5fe;
}
a.sb.light-purple, .sb.light-purple a, a.sb.light-purple:after, .sb.light-purple a:after {
    background-color: #c1bafd;
    border-color: #7f76cc;
}
a.sb.light-purple:hover:after, .sb.light-purple a:hover:after {
    background-image: none;
}
a.sb.light-purple:hover, .sb.light-purple a:hover, a.sb.light-purple:hover:after, .sb.light-purple a:hover:after {
    background-color: #cec9fe;
}
a.sb.pink, .sb.pink a, a.sb.pink:after, .sb.pink a:after {
    background-color: #feb4e4;
    border-color: #e464ac;
}
a.sb.pink:hover:after, .sb.pink a:hover:after {
    background-image: none;
}
a.sb.pink:hover, .sb.pink a:hover, a.sb.pink:hover:after, .sb.pink a:hover:after {
    background-color: #fdd3f0;
}
a.sb.light-green, .sb.light-green a, a.sb.light-green:after, .sb.light-green a:after {
    background-color: #9bd611;
    border-color: #71a115;
}
a.sb.light-green:hover:after, .sb.light-green a:hover:after {
    background-image: none;
}
a.sb.light-green:hover, .sb.light-green a:hover, a.sb.light-green:hover:after, .sb.light-green a:hover:after {
    background-color: #b3ef16;
}
a.sb.yellow, .sb.yellow a, a.sb.yellow:after, .sb.yellow a:after {
    background-color: #fff06c;
    border-color: #dcb232;
}
a.sb.yellow:hover:after, .sb.yellow a:hover:after {
    background-image: none;
}
a.sb.yellow:hover, .sb.yellow a:hover, a.sb.yellow:hover:after, .sb.yellow a:hover:after {
    background-color: #fdf6b1;
}
a.sb.min, .sb.min a {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.sb.circle, .sb.circle a, a.sb.circle:before, .sb.circle a:before, a.sb.circle:after, .sb.circle a:after {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
}
a.sb, .sb a, a.sb:before, .sb a:before, a.sb:after, .sb a:after {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
a.sb.circle:before, .sb.circle a:before, a.sb:before, .sb a:before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}
a.sb.thick-border, .sb.thick-border a {
    border-width: 3px;
}
a.sb.no-border, .sb.no-border a {
    border: none;
}
a.sb.no-shadow, .sb.no-shadow a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.sb.pressed, .sb.pressed a {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .35);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .35);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .35);
}
a.sb.embossed, .sb.embossed a {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -2px 0 rgba(0, 0, 0, .25), inset 0 -3px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -2px 0 rgba(0, 0, 0, .25), inset 0 -3px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -2px 0 rgba(0, 0, 0, .25), inset 0 -3px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
}
a.sb.small.embossed, .sb.small.embossed a {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), inset 0 -2px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), inset 0 -2px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), inset 0 -2px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
}
a.sb.large.embossed, .sb.large.embossed a {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -3px 0 rgba(0, 0, 0, .25), inset 0 -4px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -3px 0 rgba(0, 0, 0, .25), inset 0 -4px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -3px 0 rgba(0, 0, 0, .25), inset 0 -4px 0 rgba(255, 255, 255, .2), 0 1px 0 rgba(0, 0, 0, .1);
}
a.sb.glossy:before, .sb.glossy a:before {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(data:image/svg+xml;
    base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
}
a.sb.text, .sb.text a {
    text-indent: 0;
    width: auto;
    height: 20px;
    padding: 9px 14px 3px 34px;
    background-position: 2px center;
}
:first-child+html a.sb.text, :first-child+html .sb.text a {
    text-indent: inherit;
    line-height: 100%;
    font-size: 100%}
a.sb.small.text, .sb.small.text a {
    background-position: 2px center;
    padding: 6px 12px 0 34px;
}
a.sb.large.text, .sb.large.text a {
    background-position: 6px center;
    padding: 12px 20px 8px 40px;
}
a.sb.flat, .sb.flat a, a.sb.flat:before, .sb.flat a:before {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.sb.twitter, .sb a.twitter {
    background-image: url(twitter.png);
}
a.sb.google, .sb a.google {
    background-image: url(google.png);
}
a.sb.facebook, .sb a.facebook {
    background-image: url(facebook.png);
}
a.sb.heart, .sb a.heart {
    background-image: url(blog.png);
}
a.sb.linkedin, .sb a.linkedin {
    background-image: url(http://spicy-massage.com/images/linkedin.png);
}
a.sb.pinterest, .sb a.pinterest {
    background-image: url(http://spicy-massage.com/images/pinterest.png);
}
a.sb.podcast, .sb a.podcast {
    background-image: url(http://spicy-massage.com/images/podcast.png);
}
a.sb.rss, .sb a.rss {
    background-image: url(http://spicy-massage.com/images/rss.png);
}
a.sb.share_this, .sb a.share_this {
    background-image: url(http://spicy-massage.com/images/share_this.png);
}
a.sb.star, .sb a.star {
    background-image: url(links.png);
}
a.sb.vimeo, .sb a.vimeo {
    background-image: url(http://spicy-massage.com/images/vimeo.png);
}
a.sb.blue.twitter, .sb.blue a.twitter, a.sb.purple.twitter, .sb.purple a.twitter, a.sb.red.twitter, .sb.red a.twitter, a.sb.green.twitter, .sb.green a.twitter, a.sb.orange.twitter, .sb.orange a.twitter, a.sb.brown.twitter, .sb.brown a.twitter, a.sb.black.twitter, .sb.black a.twitter, a.sb.gray.twitter, .sb.gray a.twitter {
    background-image: url(images/white_twitter_bird.png);
}
a.sb.blue.facebook, .sb.blue a.facebook, a.sb.purple.facebook, .sb.purple a.facebook, a.sb.red.facebook, .sb.red a.facebook, a.sb.green.facebook, .sb.green a.facebook, a.sb.orange.facebook, .sb.orange a.facebook, a.sb.brown.facebook, .sb.brown a.facebook, a.sb.black.facebook, .sb.black a.facebook, a.sb.gray.facebook, .sb.gray a.facebook {
    background-image: url(images/white_facebook.png);
}
a.sb.blue.heart, .sb.blue a.heart, a.sb.purple.heart, .sb.purple a.heart, a.sb.red.heart, .sb.red a.heart, a.sb.green.heart, .sb.green a.heart, a.sb.orange.heart, .sb.orange a.heart, a.sb.brown.heart, .sb.brown a.heart, a.sb.black.heart, .sb.black a.heart, a.sb.gray.heart, .sb.gray a.heart {
    background-image: url(images/white_heart.png);
}
a.sb.blue.linkedin, .sb.blue a.linkedin, a.sb.purple.linkedin, .sb.purple a.linkedin, a.sb.red.linkedin, .sb.red a.linkedin, a.sb.green.linkedin, .sb.green a.linkedin, a.sb.orange.linkedin, .sb.orange a.linkedin, a.sb.brown.linkedin, .sb.brown a.linkedin, a.sb.black.linkedin, .sb.black a.linkedin, a.sb.gray.linkedin, .sb.gray a.linkedin {
    background-image: url(images/white_linkedin.png);
}
a.sb.blue.pinterest, .sb.blue a.pinterest, a.sb.purple.pinterest, .sb.purple a.pinterest, a.sb.red.pinterest, .sb.red a.pinterest, a.sb.green.pinterest, .sb.green a.pinterest, a.sb.orange.pinterest, .sb.orange a.pinterest, a.sb.brown.pinterest, .sb.brown a.pinterest, a.sb.black.pinterest, .sb.black a.pinterest, a.sb.gray.pinterest, .sb.gray a.pinterest {
    background-image: url(images/white_pinterest.png);
}
a.sb.blue.podcast, .sb.blue a.podcast, a.sb.purple.podcast, .sb.purple a.podcast, a.sb.red.podcast, .sb.red a.podcast, a.sb.green.podcast, .sb.green a.podcast, a.sb.orange.podcast, .sb.orange a.podcast, a.sb.brown.podcast, .sb.brown a.podcast, a.sb.black.podcast, .sb.black a.podcast, a.sb.gray.podcast, .sb.gray a.podcast {
    background-image: url(images/white_podcast.png);
}
a.sb.blue.rss, .sb.blue a.rss, a.sb.purple.rss, .sb.purple a.rss, a.sb.red.rss, .sb.red a.rss, a.sb.green.rss, .sb.green a.rss, a.sb.orange.rss, .sb.orange a.rss, a.sb.brown.rss, .sb.brown a.rss, a.sb.black.rss, .sb.black a.rss, a.sb.gray.rss, .sb.gray a.rss {
    background-image: url(images/white_rss.png);
}
a.sb.blue.share_this, .sb.blue a.share_this, a.sb.purple.share_this, .sb.purple a.share_this, a.sb.red.share_this, .sb.red a.share_this, a.sb.green.share_this, .sb.green a.share_this, a.sb.orange.share_this, .sb.orange a.share_this, a.sb.brown.share_this, .sb.brown a.share_this, a.sb.black.share_this, .sb.black a.share_this, a.sb.gray.share_this, .sb.gray a.share_this {
    background-image: url(images/white_share_this.png);
}
a.sb.blue.star, .sb.blue a.star, a.sb.purple.star, .sb.purple a.star, a.sb.red.star, .sb.red a.star, a.sb.green.star, .sb.green a.star, a.sb.orange.star, .sb.orange a.star, a.sb.brown.star, .sb.brown a.star, a.sb.black.star, .sb.black a.star, a.sb.gray.star, .sb.gray a.star {
    background-image: url(images/links.png);
}
a.sb.blue.vimeo, .sb.blue a.vimeo, a.sb.purple.vimeo, .sb.purple a.vimeo, a.sb.red.vimeo, .sb.red a.vimeo, a.sb.green.vimeo, .sb.green a.vimeo, a.sb.orange.vimeo, .sb.orange a.vimeo, a.sb.brown.vimeo, .sb.brown a.vimeo, a.sb.black.vimeo, .sb.black a.vimeo, a.sb.gray.vimeo, .sb.gray a.vimeo {
    background-image: url(images/white_vimeo.png);
}
a.sb.youtube {
    background-image: url(images/youtube.png);
}
a.sb.email {
    background-image: url(images/email.png);
}
a.sb.custom {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
a.sb.custom:after {
    background-image: url(images/custom-bg.png);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
a.sb.custom.blue {
    border-color: #96a8af;
}
a.sb.custom.blue:after {
    background-image: url(images/custom-bg-blue.png);
}
a.sb.custom.pink {
    border-color: #b0a1aa;
}
a.sb.custom.pink:after {
    background-image: url(images/custom-bg-pink.png);
}
a.sb.custom.retweet {
    background-image: url(images/custom-icon-retweet.png);
}
a.sb.custom.photo {
    background-image: url(images/custom-icon-photo.png);
}
a.sb.custom.comment {
    background-image: url(images/custom-icon-comment.png);
}
.width600 {
    width: 600px;
}
.padtop10 {
    padding-top: 10px;
}
.padleft80 {
    padding-left: 80px;
    padding-bottom: 6px;
}
.padbot6 {
    padding-bottom: 6px;
}
#horizon2 {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 1px;
    overflow: visible;
    visibility: visible;
    display: block;
    z-index: 700;
}
#content2 {
    margin-left: -125px;
    position: absolute;
    top: -65px;
    left: 25%;
    width: 812px;
    height: 273px;
    visibility: visible;
}
.title {
    display: inline-block;
    width: 93px;
    font: 16px/1.2em Georgia, serif;
    font-style: italic;
    color: #b7aa8f;
}
.title2 {
    display: inline-block;
    font: 16px/1.2em Georgia, serif;
    font-style: italic;
    color: #fff;
}
#map_canvas {
    width: 600px;
    height: 450px;
}

/* Mobile Menu */

#header-mobile {
	display:none;
	position:relative;
}

#header-mobile h1 {
	height:auto;
	background:none;
}

#header-mobile h1 a {
	width:100%;
}

#header-mobile a.menu-toggle {
	position:absolute;
	top:51px;
	right:16px;
	z-index:500;
}

#mobile-advanced {
	display:none;
    position:absolute;
	left:0;
	z-index:100;
	background:#000;
	width:100%;	
	padding:25px;
}

#mobile-advanced li {
    position: relative;
    height: 30px;
	text-align: center;
	margin-bottom: 22px;
}

#mobile-advanced a {
	position: relative;
    display: inline-block;
    font: 18px/1.2em Georgia, serif;
	color: #b7aa8f;
	padding: 8px 0;	
}

#mobile-advanced>li>strong {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(menu_bg.png) center no-repeat;
    opacity: 0;
}

#home #content>ul{
    background:none;
}

.go_back {
	color:#fff;
}

.go_back a.link{
	font-size:20px;
	color:#fff;
	vertical-align:middle;
	line-height:33px;
}

#tel {
	display:none;
}


/* Responsive */
@media only screen and (max-width: 905px){
	
	#tel {
		display:block;
		color: #fff;
	    font-size: 20px;
	    text-align: center;
	    padding: 20px 0 0 0;
	}
	
	#tel a {
		color: #fff;
	}
	
	#leftPanel, #tel-toggle, #lang {
		display:none;
	}
	
	#glob {
		overflow:visible;
	}
	
	#content {
		margin-left:0;
		overflow:visible;
	}
	
	#content>ul{
		background:none;
	}
	
	#content>ul>li{
		background: url(content_bg.png) repeat-y;
	}
	
	#header-mobile {
		display:block;
	}
	
	#content2{
		width:90%;
		margin-left:0;
		left:5%;
	}
	
	#content2 img{
		width:100%;
	}
	
	#bgControls{
		left:20px;
	}

}

@media only screen and (max-width: 683px){
	
	#content {
		width:100%;
	}
	
	.pad3 {
		padding:0 28px 0 1px;
	}
	
	.container_12 {
		padding-left:10px;
		padding-right:10px;
		width:auto;
	}
	
	.container_12 .grid_4, .container_12 .grid_5 {
	    width: 100%;
		margin-left:0;
	}
	
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
		margin-left:0;
		margin-right:0;
	}
	
	.mar1 img {
	    width: 100% !important;
		height:auto !important;
	}
}

@media only screen and (max-width: 536px){
	
	img.full_width {
	    width: 100% !important;
		height:auto !important;
	}
	
	#form1 input[type="text"] {
		display:block;
		margin-top:3px;
	}
	
	#form1 input[type="file"] {
		display:block;
	    width:206px !important;
	margin-top:3px;
	}
	
	#form1 textarea {
		display:block;
	    width:353px !important;
	}
	
	#form1 input[type="email"] {
		display:block;
	    width:206px !important;
		margin-top:3px;
	}
	
	.dk_theme_black{
		display: block !important;
	    float: none !important;
	    width: 327px !important;
	margin-top:3px;
	}
	
	.error{
		margin-left:0 !important;
	}
	
	.btns {
		padding:12px 0 0 0;
	}
}

